@import "scss/bootstrap/bootstrap";
@import "scss/variables";
@import "scss/mixins";
@import "scss/keyFrames";
@import "scss/loading";
@import "scss/main";
@import "scss/question-groups";
@import "scss/results-page";
@import "scss/results-form";

@import "../node_modules/nouislider/distribute/nouislider";
.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}
.noUi-origin {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.noUi-value:not(.noUi-value-sub) {
  color: #ffd101;
}

.noUi-pips {
  .noUi-value:nth-child(2) {
    transform: translate(-8%, 80%);
  }
  .noUi-value:last-child {
    transform: translate(-92%, 80%);
  }
}