.ig-page--marketing-survey {
  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("http://f.intergagecouk.1-20-7.b01.co.uk/p/1/survey-background.svg");
      background-size: cover;
      z-index: -1;
      //animation: animatedBackground 5s linear infinite;
    }
    .c2form_container {
      display: none;
    }
  }

  .marketing-survey {
    &__form {
      position: relative;
      flex: 0 1 100%;
      width: 100%;
    }
    &__group-shifter {
      position: relative;
      flex: 1 1 auto;
      width: 100%;
      height: calc(20px + 4rem);
      @include at($bs-sm) {
        height: calc(180px + 4rem);
      }
      @include at($bs-md) {
        height: calc(200px + 4rem);
      }
      @include at($bs-lg) {
        height: calc(220px + 4rem);
      }
      &__drag {
        display: flex;
        position: absolute;
        @include before($bs-sm) {
          transform: translateX(-110px);
          left: 110px;
        }
        @include at($bs-md) {
          left: 2rem;
        }
        @include at($bs-lg) {
          left: 5rem;
        }
        transition: left 0.6s;
      }
      // Each Planet
      &__planet {
        height: calc(20px + 3rem);
        width: 100vw;
        flex: 0 0 100vw;
        @include before($bs-sm) {
          position: relative;
        }
        @include at($bs-sm) {
          height: 180px;
          width: 180px;
          flex: 0 0 180px;
        }
        @include at($bs-md) {
          height: 200px;
          width: 200px;
          flex: 0 0 200px;
          margin-right: 1rem;
        }
        @include at($bs-lg) {
          height: 220px;
          width: 220px;
          flex: 0 0 220px;
          margin-right: 5rem;
        }
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // Active Planet
        &.active {
          .marketing-survey__group-shifter__planet__img {
            height: 80%;
            width: 80%;
          }
        }
        &__img {
          display: none;
          @include at($bs-sm) {
            display: block;
          }
          height: 45%;
          width: 45%;
          transition: height 0.5s, width 0.5s;
          background-repeat: no-repeat;
          background-position: center;
        }
        &__title {
          color: #fff;
          font-weight: 700;
          padding: 1rem 0;
          @include before($bs-sm) {
            font-size: 1.2rem;
          }
        }
      }
      &__back, &__next {
        position: absolute;
        background-size: contain;
        cursor: pointer;
        background-repeat: no-repeat;
        width: 21px;
        height: 34px;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        &.show {
          display: block;
        }
        @include at($bs-sm) {
          display: none !important;
        }
      }
      &__back {
        background-image: url($left-arrow);
        left: 15px;
      }
      &__next {
        background-image: url($right-arrow);
        right: 15px;
      }
      &__progress {
        @include at($bs-sm) {
          display: none;
        }
        height: 100%;
        width: 0px;
        background: #e81d76;
        z-index: 0;
        position: absolute;
        transition: width 0.2s;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
      }
      &::after {
        @include at($bs-sm) {
          content: "";
        }
        width: 100%;
        height: 2px;
        position: absolute;
        top: 41%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4) 50%, transparent 0%);
        background-position: bottom;
        background-size: 30px 2px;
        background-repeat: repeat-x;
      }
    }
    &__group-quotes {
      display: none;
    }
  }
}
