$left-arrow: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-left' class='svg-inline--fa fa-chevron-left fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffd101' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'%3E%3C/path%3E%3C/svg%3E";
$right-arrow: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffd101' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E";
$question-tick: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='check-circle' class='svg-inline--fa fa-check-circle fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffd101' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'%3E%3C/path%3E%3C/svg%3E";
$quotes-left: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='quote-left' class='svg-inline--fa fa-quote-left fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffd101' d='M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z'%3E%3C/path%3E%3C/svg%3E";
$quotes-right: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='quote-right' class='svg-inline--fa fa-quote-right fa-w-16' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23ffd101' d='M464 32H336c-26.5 0-48 21.5-48 48v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48zm-288 0H48C21.5 32 0 53.5 0 80v128c0 26.5 21.5 48 48 48h80v64c0 35.3-28.7 64-64 64h-8c-13.3 0-24 10.7-24 24v48c0 13.3 10.7 24 24 24h8c88.4 0 160-71.6 160-160V80c0-26.5-21.5-48-48-48z'%3E%3C/path%3E%3C/svg%3E";

.ig-page--marketing-survey {
  .main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("http://f.intergagecouk.1-20-7.b01.co.uk/p/1/survey-background.svg");
      background-size: 100%;
      z-index: -1;
      //animation: animatedBackground 5s linear infinite;
    }

    .question-group {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      &.active {
        left: 0%;
        animation: fromRight 0.7s;
      }
      &.active--rev {
        left: 0%;
        animation: fromLeft 0.7s;
      }
      &.inactive {
        animation: off 0.7s;
      }
      &.inactive--rev {
        animation: off-rev 0.7s;
      }
      display: flex;
      flex-direction: column;
      padding: 0 8rem;
      &__heading {
        flex: 0 0 35%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &__ticks {
          display: flex;
          padding: 1.2rem 0;
          &__tick {
            background: transparent;
            border: 2px dashed #888;
            border-radius: 20px;
            &.checked {
              background-image: url($question-tick);
              border: 0;
              border-radius: 0px;
            }
            width: 35px;
            height: 35px;
            margin-right: 0.5rem;
          }
        }
        h1, h5 {
          color: #fff;
        }
        h5 {
          margin: 0;
        }
      }
      &__quotes {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        &--left, &--right {
          width: 20px;
          height: 20px;
          margin: 0 0.5rem;
          background-repeat: no-repeat;
        }
        &--left {
          background-image: url($quotes-left);
        }
        &__quote {
          max-width: 550px;
          text-align: center;
          > p {
            color: #fff;
          }
        }
        &--right {
          background-image: url($quotes-right);
        }
      }
      &__questions {
        flex: 0 0 45%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0;
        &__container {
          position: relative;
          overflow: hidden;
          width: 60%;
          height: 100%;
          background: #d8f1f6;
          border-radius: 30px;
          .arrow-left, .arrow-right {
            position: absolute;
            background-size: contain;
            cursor: pointer;
            background-repeat: no-repeat;
            width: 21px;
            height: 34px;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
          }
          .arrow-left {
            background-image: url($left-arrow);
            left: 20px;
          }
          .arrow-right {
            background-image: url($right-arrow);
            right: 20px;
          }
        }
        .c2form_row {
          position: absolute;
          left: -100%;
          height: 100%;
          width: 100%;
          padding: 0 46px;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          &.active {
            left: 0%;
            animation: fromRight 0.6s;
          }
          &.active--rev {
            left: 0%;
            animation: fromLeft 0.6s;
          }
          &.inactive {
            animation: off 0.6s;
          }
          &.inactive--rev {
            animation: off-rev 0.6s;
          }
          .c2form_input {
            .FormCodesScroll, .c2form_radio {
              display: none;
            }
          }
          .c2form_fldname {
            font-size: 1.5rem;
            font-weight: 700;
            margin-bottom: 2rem;
          }
          // Options For each Question
          &__range {
            display: flex;
            justify-content: space-around;
            font-size: 1.3rem;
            font-weight: 700;
            margin-bottom: 1rem;
            &__current {
              color: #fff;
              &::after {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                background: #e81d76;
                z-index: -1;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            
            > span {
              position: relative;
              cursor: pointer;
              z-index: 0;
            }
          }
        }
      }
    }
  }

  .marketing-survey {
    &__form {
      position: relative;
      flex: 0 1 100%;
      width: 100%;
    }
    &__group-shifter {
      position: relative;
      flex: 1 1 auto;
      width: 100%;
      height: calc(220px + 4rem);
      // Each Planet
      &__drag {
        display: flex;
        position: absolute;
        left: 5rem;
        transition: left 0.6s;
      }
      &__planet {
        height: 220px;
        width: 220px;
        flex: 0 0 220px;
        margin-right: 5rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // Active Planet
        &.active {
          .marketing-survey__group-shifter__planet__img {
            height: 80%;
            width: 80%;
          }
        }
        &__img {
          height: 45%;
          width: 45%;
          transition: height 0.5s, width 0.5s;
          background-repeat: no-repeat;
        }
        &__title {
          color: #fff;
          font-weight: 700;
          padding: 1rem 0;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 41%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        background-image: linear-gradient(to right, rgba(255,255,255,0.4) 50%, transparent 0%);
        background-position: bottom;
        background-size: 30px 2px;
        background-repeat: repeat-x;
      }
    }
    &__group-quotes {
      display: none;
    }
  }
}

.c2-loading-panel {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #002539;
  z-index: 10000;
  &.done {
    animation: loadingDone 0.6s;
    opacity: 0;
    top: -100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes loadingDone {
	from { top: 0; opacity: 1; }
	to { top: 0; opacity: 0; }
}

@keyframes animatedBackground {
	from { background-position: 0 center; }
	to { background-position: 100vw center; }
}

@keyframes fromRight {
  from {left: 100%}
  to {left: 0%;}
}

@keyframes fromLeft {
  from {left: -100%}
  to {left: 0%;}
}

@keyframes off {
  from {left: 0%}
  to {left: -100%;}
}

@keyframes off-rev {
  from {left: 0%}
  to {left: 100%;}
}