$left-arrow: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-left' class='svg-inline--fa fa-chevron-left fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffd101' d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'%3E%3C/path%3E%3C/svg%3E";
$right-arrow: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' class='svg-inline--fa fa-chevron-right fa-w-10' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23ffd101' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'%3E%3C/path%3E%3C/svg%3E";

.ig-page--marketing-survey {
  .main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("http://f.intergagecouk.1-20-7.b01.co.uk/p/1/survey-background.svg");
      background-size: 100%;
      z-index: -1;
      //animation: animatedBackground 5s linear infinite;
    }

    .question-group {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      &.active {
        left: 0%;
        animation: fromRight 0.5s;
      }
      &.active--rev {
        left: 0%;
        animation: fromLeft 0.5s;
      }
      &.inactive {
        animation: off 0.5s;
      }
      &.inactive--rev {
        animation: off-rev 0.5s;
      }
      display: flex;
      flex-direction: column;
      padding: 0 5rem;
      &__heading {
        flex: 0 0 30%;
        display: flex;
        align-items: center;
        h1 {
          color: #fff;
        }
      }
      &__questions {
        flex: 0 0 70%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__container {
          position: relative;
          overflow: hidden;
          width: 60%;
          height: 50%;
          background: #d8f1f6;
          border-radius: 30px;
          .arrow-left, .arrow-right {
            position: absolute;
            background-size: contain;
            cursor: pointer;
            background-repeat: no-repeat;
            width: 21px;
            height: 34px;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
          }
          .arrow-left {
            background-image: url($left-arrow);
            left: 20px;
          }
          .arrow-right {
            background-image: url($right-arrow);
            right: 20px;
          }
        }
        .c2form_row {
          position: absolute;
          left: -100%;
          height: 100%;
          width: 100%;
          padding: 4rem 2rem;
          text-align: center;
          &.active {
            left: 0%;
            animation: fromRight 0.5s;
          }
          &.active--rev {
            left: 0%;
            animation: fromLeft 0.5s;
          }
          &.inactive {
            animation: off 0.5s;
          }
          &.inactive--rev {
            animation: off-rev 0.5s;
          }
          .c2form_input {
            .FormCodesScroll, .c2form_radio {
              display: none;
            }
          }
          .c2form_fldname {
            font-size: 1.5rem;
            font-weight: 700;
          }
          // Options For each Question
          &__range {
            display: flex;
            justify-content: space-around;
            padding: 1.8rem 0;
            font-size: 1.3rem;
            font-weight: 700;
            &__current {
              color: #fff;
              &::after {
                content: "";
                height: 40px;
                width: 40px;
                position: absolute;
                background: #e81d76;
                z-index: -1;
                border-radius: 50%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            
            > span {
              position: relative;
              cursor: pointer;
              padding: 0.5rem;
              z-index: 0;
            }
          }
        }
      }
    }
  }

  .marketing-survey {
    &__form {
      position: relative;
      flex: 0 1 100%;
      width: 100%;
    }
    &__group-shifter {
      position: relative;
      flex: 1 1 auto;
      width: 100%;
      padding: 2rem;
      // Each Planet
      &__planet {
        height: 220px;
        width: 220px;
        margin-right: 5rem;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // Active Planet
        &.active {
          .marketing-survey__group-shifter__planet__img {
            height: 60%;
            width: 60%;
          }
        }
        &__img {
          height: 40%;
          width: 40%;
          transition: height 0.4s, width 0.4s;
          background-repeat: no-repeat;
        }
        &__title {
          color: #fff;
          font-weight: 700;
          padding: 1rem 0;
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        top: 41%;
        left: 0;
        transform: translateY(-50%);
        z-index: -1;
        background-image: linear-gradient(to right, rgba(255,255,255,0.4) 50%, transparent 0%);
        background-position: bottom;
        background-size: 30px 2px;
        background-repeat: repeat-x;
      }
    }
  }
}

@keyframes animatedBackground {
	from { background-position: 0 center; }
	to { background-position: 100vw center; }
}

@keyframes fromRight {
  from {left: 100%}
  to {left: 0%;}
}

@keyframes fromLeft {
  from {left: -100%}
  to {left: 0%;}
}

@keyframes off {
  from {left: 0%}
  to {left: -100%;}
}

@keyframes off-rev {
  from {left: 0%}
  to {left: 100%;}
}